.PageNotFound .PageNotFound-content {
    margin-top: 100px !important;
}
.PageNotFound .PageNotFound-footer {
    margin-top: 100px !important;
    padding-top: 50px !important;
    padding-bottom: 180px !important;
}