.AdminTagsPage .AdminTagsPage-categories {
    background-color: #ecebeb;
    border-right: 1px solid #afafaf;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 50px;
}
.AdminTagsPage .AdminTagsPage-title {
    text-align: center;
    text-transform: uppercase;
    background-color: #c5c5c5;
    font-weight: bold;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #afafaf;
    font-size: 13px;
    color: #545454;
}
.AdminTagsPage .AdminTagsPage-loader {
    margin-top: 40px;
}
.AdminTagsPage .AdminTagsPage-empty {
    margin-top: 10px;
    padding: 0 10px 15px 10px;
    color: #6f6d6d;
    font-size: 13px;
}
.AdminTagsPage .AdminTagsPage-list {
    padding: 0 10px 15px 10px;
}
