.TagsSidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 50px;
    padding: 20px 5px 20px 15px;
}
.TagsSidebar .TagsSidebar-loader {
    margin-top: 50px;
}
.TagsSidebar .TagsSidebar-list {
    padding-right: 10px;
    padding-bottom: 20px;
}
.TagsSidebar .TagsSidebar-list .checkbox label {
    font-size: 13px;
}
.TagsSidebar .TagsSidebar-category {
    margin-top: 20px;
}
.TagsSidebar .TagsSidebar-category:first-child {
    margin-top: 5px;
} 
.TagsSidebar .TagsSidebar-category h4 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-bottom: 1px solid #c5c5c5;
}
