.TagsSidebar {
    background-color: #ecebeb;
    border-right: 1px solid #afafaf;
    position: fixed;
    width: 230px;
    height: 100%;
    top: 50px;
}
.TagsSidebar .TagsSidebar-loader {
    height: 100%;
    margin-top: 40px;
}
.TagsSidebar .TagsSidebar-title {
    text-align: center;
    text-transform: uppercase;
    background-color: #c5c5c5;
    font-weight: bold;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #afafaf;
    font-size: 13px;
    color: #545454;
}
.TagsSidebar .TagsSidebar-list {
    padding: 0 10px 15px 10px;
}
.TagsSidebar .TagsSidebar-list .checkbox label {
    font-size: 13px;
}
.TagsSidebar .TagsSidebar-category {
    margin-top: 20px;
}
.TagsSidebar .TagsSidebar-category h4 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-bottom: 1px solid #c5c5c5;
}
