.LoginPage .LoginPage-content {
    margin-top: 70px !important;
}
.LoginPage .LoginPage-footer {
    margin-top: 100px !important;
    padding-top: 50px !important;
    padding-bottom: 180px !important;
}
