.MeshesList {
    position: fixed;
    width: calc(100% - 480px);
    padding: 20px 5px 0 10px !important;
    height: 100%;
    top: 50px;
    left: 250px;
}
.MeshesList-scroller {
    margin-right: 15px !important;
}
.MeshesList-metaSortLabel {
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.MeshesList-metaCountLabel {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
}
.MeshesList-loader {
    background-color: #f9f7f7 !important;
    margin-top: 60px;
}
.MeshesList-empty {
    margin-top: 60px;
}
.MeshesList-mesh {
    margin: 0 0 10px 0 !important;
    background-color: white;
    border: solid 1px #c5c2c2;
    border-radius: 3px;
    box-shadow: 1px 2px 5px #c7bcbc;
}
.MeshesList-mesh h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.MeshesList-mesh .MeshesList-meshIcon {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    background-color: #ecebeb;
    border-radius: .3125em;
    text-align: center;
    padding-top: 25px;
}
.MeshesList-mesh .MeshesList-meshImage {
    float: left;
    margin-right: 10px;
}
.MeshesList-mesh .MeshesList-meshInfo {
    margin-left: 80px;
}
.MeshesList-mesh .MeshesList-meshDate {
    margin-top: 3px;
    font-size: 12px;
    color: #767676;
}
.MeshesList-mesh .MeshesList-meshTags {
    margin-top: 3px;
}
.MeshesList-mesh .MeshesList-meshTags span {
    padding: 4px;
    margin-top: 5px !important;
}
.MeshesList-mesh .MeshesList-meshMetadata {
    font-size: 12px;
    color: #525252;
}
.MeshesList-mesh .MeshesList-meshDigit {
    font-weight: bold;
}
@media (max-width: 992px) {
    .MeshesList {
        width: calc(100% - 250px);
    }
}
