.RegisterPage .RegisterPage-content {
    margin-top: 70px !important;
}
.RegisterPage .RegisterPage-footer {
    margin-top: 100px !important;
    padding-top: 50px !important;
    padding-bottom: 180px !important;
}
